@charset "utf-8";

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css document */

* {	
	margin: 0%;
	padding: 0%;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #1A1A1A;
}


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #000;
    font-family: "Fira Sans";
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    color: var(--Verde-vivo, #3CB078);
    font-family: "Fira Sans";
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.28px;
}

h3 {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 700;
}

h4 {
    color: #ffffff;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
}

p {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


/* nav */

nav { 
    background-color: #414141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

nav ul li {
    display: inline;
    font-family: "Fira Sans";
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 8px 40px;
    border: 3.5px solid rgba(0, 0, 0, 0);
    transition: border 0.3s ease
}

nav ul li:hover {
    border: 3.5px solid #3CB078;
}

/* footer */

footer {
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
}

footer img {
    padding: 5px;
}

.logo-redes {
    display: flex;
    flex-direction: column;
}

footer .footer-bold {
    font-weight: 500;
}

footer ul li {
    list-style: none;
    font-family: "Fira Sans";
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 35px;
    padding: 0px 70px 0px 0px;
}

.listas {
    display: flex;
    padding: 0px 100px 0px 100px;
}

/* estrenos semanales */

.estrenos {
    padding: 50px;
    background-image: url(img/fondos/fondo-contacto.png);
}

.estrenos h2 {
    padding-bottom: 30px;
    padding-left: 20px;
}

.estrenos h4 {
    color: #FFF;
    font-weight: 300;
    padding-top: 5px;
}

.estrenos ul li {
    list-style: none;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}

.bolder {
    font-weight: 700;
}

.cartelera-index {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
}

.cartelera-index img {
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
}


.titulos-pelis {
    display: flex;
    gap: 130px;
}

.posters-pelis {
    display: flex;
    gap: 60px;
}

.posters-pelis img {
    padding: 20px 0px 20px 0px;
}


































































































































































/*historia*/
.cuadro-info {
    background-color: #3CB078;
}














































































































































































































/*malen*/
.contacto {
    display: flex;
    flex-direction: column; 
    background-image: url(img/fondos/fondo-contacto.png); 
    padding-top: 55px;
}

#contactanos {
    align-items: flex-start;
}

form {
	display: flex;
    flex-direction: column;
	gap: 10px;
    max-width: fit-content;
}

.contacto-div {
    display: flex;
    justify-content: center;
    gap: 263px;
    align-items: flex-end;
}

.titular-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}

label {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.9px;
}
::placeholder {
    color:#B8B8B8;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
 }

 input {
    width: 488px;
    height: 27px;
	padding: 5px 15px;
	border: none; 
    margin-bottom: 20px;  
}

textarea {
    width: 488px;
    height: 209px;
	padding: 5px 15px;
	border: none;
}

 .ubicacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
    padding-bottom: 72px;
 }

 #comollegar {
    padding-top: 69px;
 }
 
.enviar {
    width: 133px;
    height: 50px;
    gap: 10px;
    background: #207437;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 22px;
    font-weight: 700;
}

.enviar:hover{
    transition: 0.5s;
    background: #3CB078;
}





















































/*ana*/
.miembros {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    background-image: url(img/fondos/fondo-contacto.png); 
    padding-top: 55px;
    width: 100%;
    gap:45px;
    padding-left: 200px;
}

.opciones{
display: flex;
width: 1309px;
flex-direction: center;
align-items: flex-start;
gap: 45px;
}

.plata {
    display: flex;
    width: 395px;
    height: 509px;
    padding: 33px 45px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    background: #676767;
}

.oro {
    display: flex;
    width: 395px;
    height: 509px;
    padding: 33px 45px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    background: #A19259;
}

.diamante {
    display: flex;
    width: 395px;
    height: 509px;
    padding: 33px 45px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
    background: #3CB078;
}

.precio-plata {
    display: flex;
    width: 300px;
    height: 98px;
    padding: 0px 43px;
    justify-content: center;
    align-items: space-around;
    gap: 117px;
    position: absolute;
    bottom: 0px;
    background: var(--Gris, #414141);
}

.precio-oro{
    display: flex;
    width: 300px;
    height: 98px;
    padding: 0px 43px;
    justify-content: center;
    align-items: space-around;
    gap: 117px;
    position: absolute;
    bottom: 0px;
    background: var(--Gris, #414141);
}

.precio-diamante{
    display: flex;
    width: 300px;
    height: 98px;
    padding: 0px 43px;
    justify-content: center;
    align-items: space-around;
    gap: 117px;
    position: absolute;
    bottom: 0px;
    background: var(--Gris, #414141);
}

li {
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
}

